@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #myNavbar{
        display: block !important;
    }
    .contact-no {
        width: 194px !important;
        padding: 5px 12px !important;
        margin-left: 15px !important;
    }
    .nav>li>a {
        padding: 8px !important;
    }
    .banner-slider .home-left {
        height: 545px;
    }
    .banner-slider {
         background: none !important; 
        height: 1076px !important;
    }
    .datefiled {
        width: 75% !important;
    }
    .datefiled .col-md-6 {
        float: left;
        width: 50% !important;
    }
    .search-cab-btn{
width: 75% !important;
    }
    img.home-banner-car{
        bottom: 0px !important;
    }
    .home-right {
        padding-right: 15px !important;
    }
    .about-right {
        width: 100%;
        float: left;
        text-align: center;
    }
    .about-right p{
        width: 100% !important;
    }
    img.about-center-img {
        width: 390px;
        margin: 0 auto !important;
        float: none !important;
        display: table;
    }
    .about-right h3,.about-right h4{
        text-align: center;
    }
    .package-list .col-md-4 {
        width: 50% !important;
        float: left;
    }
    .why-choose-left .col-md-8 {
        float: left;
    }
    
    .why-choose-left .col-md-4 {
        float: left;
        width: 120px;
    }
    .why-choose-left {
        margin-top: 40px !important;
        margin: 0 auto;
        float: none !important;
        display: table;
    }
    .why-choose-us-right {
        text-align: center;
    }
    .why-choose-us-right img {
        width: 580px !important;
    }
    .why-choose-cabs .col-md-3 {
        float: left !important;
        width: 120px;
    }
    .why-choose-cabs .col-md-9 {
        float: left !important;
        width: 75% !important;
    }
    .why-choose-cabs .col-md-6 {
        width: 85% !important;
    }
    .tariff-list-li {
        width: 48% !important;
        height: 450px;
        margin-bottom: 20px !important;
        margin: 0px 6px;
    }
    .google-map {
        margin: 0 auto;
        width: 540px !important;
    }
    .km-div h4 {
        text-align: right !important;
        font-size: 15px !important;
        margin-right: 5px;
    }
    .pagenation-top .col-md-2 {
        width: 145px;
    }
    .modify-time mat-icon.mat-icon, .date-time mat-icon.mat-icon{
        right: 40px !important;
    }
    .search-car {
        padding: 18px 0px !important;
        padding-bottom: 14px !important;
    }
    .days-bottom-img .col-md-4{
        width: 33.33% !important;
        float: left;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
.home-left .col-md-10 {
    width: 100%;
}
.packages-readmore-div{
    width: 228px !important;
}
.why-choose-left .col-md-8 h4{
    margin-top: 0px !important;
}
.google-map iframe {
    width: 424px;
}
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
    .navbar-toggle {
        position: absolute !important;
        right: 0 !important;
        top: 9px !important;
    }
    .navbar-fixed-bottom, .navbar-fixed-top {
        position: absolute !important;
    }
    .contact-no {
        display: none;
    }
    .home-left .col-md-10 {
        float: none !important;
    }
    /* .nav>li>a {
        padding: 8px !important;
    } */
    .oneway-btn{
        margin-left: 0px !important;
    }
    .banner-slider .home-left {
        height: 620px;
    }
    .banner-slider {
         background: none !important; 
        height: 870px !important;
    }
    .datefiled {
        width: 75% !important;
    }
    .packages p {
        width: 95% !important;
    }
    .datefiled .col-md-6 {
        float: left;
        width: 50% !important;
    }
    .search-cab-btn{
width: 75% !important;
    }
    img.home-banner-car{
        bottom: 0px !important;
    }
    .home-right {
        padding-right: 15px !important;
    }
    .about-right {
        width: 100%;
        float: left;
        text-align: center;
    }
    .about-right p,.why-choose-us p{
        width: 100% !important;
    }
    img.about-center-img {
        width: 390px;
        margin: 0 auto !important;
        float: none !important;
        display: table;
    }
    .why-choose-left .col-md-8 h4{
        margin-top: 0px !important;
    }
    .about-right h3,.about-right h4{
        text-align: center;
    }
    .package-list .col-md-4 {
        width: 100% !important;
        float: left;
    }
    .why-choose-left .col-md-8 {
        float: left;
        width: 62%;
    }
    .packages-readmore-div{
        width: 240px !important;
    }
    
    .why-choose-left .col-md-4 {
        float: left;
        width: 120px;
    }
    .why-choose-left {
        margin-top: 40px !important;
        margin: 0 auto;
        float: none !important;
        display: table;
    }
    .why-choose-us-right {
        text-align: center;
    }
    .why-choose-us-right img {
        width: 580px !important;
    }
    .why-choose-cabs .col-md-3 {
        float: left !important;
        width: 100%;
    }
    .why-choose-cabs .col-md-9 {
        float: left !important;
        width: 100% !important;
        text-align: center !important;
    }
    .why-choose-cabs .col-md-6 {
        width: 100% !important;
    }
    .tariff-list-li {
        width: 100% !important;
        height: 450px;
        margin-bottom: 20px !important;
        margin: 0px 0px;
    }
    .google-map {
        margin: 0 auto;
        width: 308px !important;
    }
    .contact-section .col-md-6 {
        margin-top: 0 !important;
    }
    .km-div h4 {
        text-align: right !important;
        font-size: 15px !important;
        margin-right: 5px;
    }
    .pagenation-top .col-md-2 {
        width: 158px;
    clear: both;
    margin-top: 15px;
    border: none;
    display: none;
    }
    .modify-time mat-icon.mat-icon, .date-time mat-icon.mat-icon{
        right: 40px !important;
    }
    .search-car {
        padding: 18px 0px !important;
        padding-bottom: 14px !important;
    }
    .days-bottom-img .col-md-4{
        width: 100% !important;
        float: left;
        margin-bottom: 15px;
    }
    .login-tabs mat-tab-header .mat-tab-label {
        padding: 0px 8px !important;
        min-width: 100px !important;
    }
    .why-choose-cabs p{
        text-align: center;
    }
    .google-map iframe {
        width: 290px;
    }
    .search-car-div ul {
        overflow: scroll !important;
    }
    .list-of-card {
        width: 802px !important;
    }
}
@media only screen and (min-width: 768px) {
.mat-tab-header-pagination {
    display: none !important;
}
.why-choose-cabs p{
    text-align: left !important;
}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .navbar-toggle {
        position: absolute !important;
        right: 0 !important;
        top: 9px !important;
    }
    .navbar-fixed-bottom, .navbar-fixed-top {
        position: absolute !important;
    }
    .contact-no {
        display: none;
    }
    .home-left .col-md-10 {
        float: none !important;
    }
    /* .nav>li>a {
        padding: 8px !important;
    } */
    .oneway-btn{
        margin-left: 0px !important;
    }
    .banner-slider .home-left {
        height: 620px;
    }
    .banner-slider {
         background: none !important; 
        height: 1060px !important;
    }
    .datefiled {
        width: 75% !important;
    }
    .packages p {
        width: 95% !important;
    }
    .datefiled .col-md-6 {
        float: left;
        width: 50% !important;
    }
    .search-cab-btn{
width: 75% !important;
    }
    img.home-banner-car{
        bottom: 0px !important;
    }
    .home-right {
        padding-right: 15px !important;
    }
    .about-right {
        width: 100%;
        float: left;
        text-align: center;
    }
    .about-right p,.why-choose-us p{
        width: 100% !important;
    }
    img.about-center-img {
        width: 390px;
        margin: 0 auto !important;
        float: none !important;
        display: table;
    }
    .why-choose-left .col-md-8 h4{
        margin-top: 0px !important;
    }
    .about-right h3,.about-right h4{
        text-align: center;
    }
    .package-list .col-md-4 {
        width: 50% !important;
        float: left;
    }
    .why-choose-left .col-md-8 {
        float: left;
        width: 62%;
    }
    .packages-readmore-div{
        width: 220px !important;
    }
    .packages {
        padding: 0px 0px !important;
    }
    .why-choose-left .col-md-4 {
        float: left;
        width: 120px;
    }
    .why-choose-left {
        margin-top: 40px !important;
        margin: 0 auto;
        float: none !important;
        display: table;
    }
    .why-choose-us-right {
        text-align: center;
    }
    .why-choose-us-right img {
        width: 580px !important;
    }
    .why-choose-cabs .col-md-3 {
        float: left !important;
        width: 100%;
    }
    .why-choose-cabs .col-md-9 {
        float: left !important;
        width: 100% !important;
        text-align: center !important;
    }
    .why-choose-cabs .col-md-6 {
        width: 100% !important;
    }
    .tariff-list-li {
        width: 47% !important;
        height: 450px;
        margin-bottom: 20px !important;
        margin: 0px 8px;
    }
    .google-map {
        margin: 0 auto;
        width: 308px !important;
    }
    .contact-section .col-md-6 {
        margin-top: 0 !important;
    }
    .km-div h4 {
        text-align: right !important;
        font-size: 15px !important;
        margin-right: 5px;
    }
    .pagenation-top .col-md-2 {
        width: 145px;
    }
    .modify-time mat-icon.mat-icon, .date-time mat-icon.mat-icon{
        right: 40px !important;
    }
    .search-car {
        padding: 18px 0px !important;
        padding-bottom: 14px !important;
    }
    .days-bottom-img .col-md-4{
        width: 100% !important;
        float: left;
        margin-bottom: 15px;
    }
    .why-choose-cabs p{
        text-align: center;
    }
    .google-map iframe {
        width: 290px;
    }
    .search-car-div ul {
        overflow: scroll !important;
    }
    .list-of-card {
        width: 802px !important;
    }
    
}
